<div *ngIf="contact">
  <h2>{{contact.firstName + ' ' + contact.lastName}}</h2>
  <div>
    <label>ID: </label>{{contact.id}}</div>
  <div>
    <label>First Name: </label>
    <input [(ngModel)]="contact.firstName" placeholder="firstName" />
  </div>
  <div>
    <label>Last Name: </label>
    <input [(ngModel)]="contact.lastName" placeholder="lastName" />
  </div>
  <div>
    <label>Tel No: </label>
    <input [(ngModel)]="contact.telNo" placeholder="telNo" />
  </div>
  <button (click)="save()">Save</button>
</div>